body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img_Paralax {
    height: 300px;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('\Logo.jpg');
}


/* CONFIGURACAO DO HEADER */
header {
    top: 0;
    z-index: 1;
    display: flex;
    position: sticky;
    padding: 25px 10%;
    align-items: center;
    background: white;
    font-family: fantasy;

    a[id="titulo"] {
        color: coral;
        font-size: x-large;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    nav[class="opcoes"] {
        margin-left: auto;

        a {
            margin: 0px 10px;
            text-decoration: none;
            color: cornflowerblue;
        }
        a[id="pagAtual"] { color: rgb(78, 228, 78); }
        a:hover, a:focus { color: blueviolet; }
        a:active { color: coral; }
    }
}



/* CONFIGURACAO DA MAIN */
main {
    padding: 50px 10%;
    background: darkcyan;   /* darkslategray */
}


main[id="mainSobre"] {
    text-align: justify;

    h1 { 
        color: lightcyan;
        letter-spacing: 2px;
        text-shadow: 2px 2px cornflowerblue;
    }

    section[id="historia"] {
        line-height: 1.5;
        font-size: x-large;
    }

    section[id="organizadores"] {
        display: flex;
        text-align: center;
        justify-content: space-evenly;

        article {
            width: 15%;
            
            img {
                width: 85%;
                border-radius: 35%;
                border: 5px solid rgb(78, 228, 78);
            }
            h2 {
                height: 30px;
                color: lightcyan;
                letter-spacing: 2px;
                word-wrap: break-word;
                text-shadow: 1px 1px 5px rgb(78, 228, 78);
            }
        }
    }
}


/* CONFIGURACAO DO ASIDE */
aside {
    top: 15%;
    z-index: 1;
    display: flex;
    overflow: hidden;
    position: sticky;
    width: fit-content;
    background: white;
    border-radius: 0px 10px 10px 0px;

    ul { display: none; }

    h2 {
        margin: 3px;
        cursor: pointer;
        user-select: none;
        padding: 15px 5px;
        font-size: medium;
        text-align: center;
        letter-spacing: 10px;
        border: 2px solid blue;
        writing-mode: vertical-rl;
        text-orientation: upright;
        border-radius: 0px 10px 10px 0px;
    }
}
aside:hover {
    opacity: 0.8;

    ul {
        margin: 5px;
        display: block;
        padding: 5px 3px 5px 25px;
        /* border: 2px solid blue; */

        a {
            line-height: 1.5;
            text-decoration: none;
        }
        a:hover { color: rgb(78, 228, 78); }
        a:active { color: coral; }
    }

    h2 { background-color: cornflowerblue; }
}


main[id="mainRegras"] {
    text-align: justify;
    background: darkgreen;

    h1 { 
        color: lightcyan;
        letter-spacing: 2px;
        text-shadow: 2px 2px cornflowerblue;
    }

    ol {
        list-style: none;
        line-height: 1.5;
        font-size: large;
        counter-increment: item;

        > li {
            display: flex;
            letter-spacing: 1px;
            margin-bottom: 15px;
            counter-increment: subitem;

            /* --- */
            left: 30px;
            margin-right: 30px;
            position: relative;
            flex-direction: column;
            /* --- */

            ul {
                margin-top: 15px;
                list-style-type: disc;
                list-style-position: inside;
    
                strong { color:coral; }
            }

            a {
                color: lightcyan;
                text-decoration: none;
            }
            a:hover { color: cornflowerblue; }
            a:active { color: coral; }

            ol {
                padding-top: 15px;
                counter-increment: -item;

                > li {
                    margin-right: 150px;
                    counter-increment: subsubitem;
                }
                > li::before{
                    left: -60px;
                    content: counter(item) "." counter(subitem) "." counter(subsubitem) " ";
                }
            }

            img {
                margin: 20px 0px;
                align-self: center;
                border-radius: 20px;
                box-shadow: 0px 0px 20px gray;
            }
        }

        > li::before {
            left: -15px;
            font-weight: bold;
            /* position: relative; */
            color: lightcyan;
            content: counter(item) "." counter(subitem) " ";

            /* --- */
            left: -45px;
            position: absolute;
            /* --- */
        }
    }
}



main[id="mainLogin"] {
    background: greenyellow;

    form {
        width: 40%;
        display: flex;
        margin: 0px auto;
        border: 1px solid;
        padding: 30px 20px;
        background: coral;
        border-radius: 20px;
        flex-direction: column;

        label, input {
            font-size: medium;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        div {
            margin-bottom: 20px;

            label {
                font-weight: bold;
                letter-spacing: 2px;
                text-shadow: 1px 1px cornflowerblue;
            }
            input {
                width: 100%;
                margin-top: 5px;
                padding: 10px 5px;
                border: 2px solid;
                border-radius: 5px;
                box-shadow: 3px 5px;
                box-sizing: border-box; /* Inclui padding e border no tamanho total. */
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            input:focus {
                border: 1px;
                outline: 2px solid gray;
                box-shadow: 3px 5px green;
            }
        }

        input[type="submit"] {
            cursor: pointer;
            /* width: 50%; */
            margin: 0px auto;
            margin-top: 15px;
            font-weight: bold;
            padding: 10px 15px;
            letter-spacing: 3px;
            border-radius: 15px;
            box-shadow: 3px 3px 5px;
        }
        input[type="submit"]:hover, input[type="submit"]:focus {
            background: rgb(78, 228, 78);
            box-shadow: 0px 0px 10px white;
        }
        input[type="submit"]:active {
            background: greenyellow;
        }
    }
}























/* CONFIGURACAO DO FOOTER */
footer {
    padding: 3% 0px;
    font-weight: bold;
    word-spacing: 3px;
    text-align: center;
    background: white;
    letter-spacing: 1px;

    a {
        text-decoration: none;
        color: rgb(78, 228, 78);
    }
    a:hover {
        color: blueviolet;
    }
    a:active {
        color: coral;   /* rgb(228, 223, 78) */
    }
}